<button routerLink="/admin/add" class="btn btn-success mr-2 ">Add Product</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Desc</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products;track product.id){
        <tr>
            <th>{{product.id}}</th>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.active}}</td>
            <td>
                <button routerLink="/admin/edit/{{product.id}}" class="btn btn-warning mr-2 ">Edit</button>
                <button (click)="handleSubmit(product.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        }


    </tbody>
</table>